nifi_flows/NiFi_Flow_debit.json
{"flowContents":{"identifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2","instanceIdentifier":"7cea6ee1-019a-1000-462b-4ce9bc82c867","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9682f2b6-f57e-3399-9661-ef92e5826397","instanceIdentifier":"7e66ee31-019a-1000-bf1f-88b780a1400f","name":"UpdateAttribute","comments":"","position":{"x":1232.0,"y":208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"Delete Attributes Expression":null,"filename":"debit_test_${now():format('yyyyMMdd_HHmmss')}.txt","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2"},{"identifier":"029f0d5e-2b88-3532-b75a-c7c7f0e3a924","instanceIdentifier":"7e8d8c33-019a-1000-e41a-6921d8a120f8","name":"PutFile","comments":"","position":{"x":632.0,"y":464.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/data/outgoing","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2"},{"identifier":"f63b7331-5f0b-3cea-b00d-3c6e8ddc0daf","instanceIdentifier":"7e8c1944-019a-1000-dc58-b5893bf39e93","name":"LogAttribute","comments":"","position":{"x":1232.0,"y":464.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2"},{"identifier":"c75ca3bc-7801-3d3e-b517-b21c41ede349","instanceIdentifier":"7e5cbaad-019a-1000-f79d-1f8cef4438ac","name":"GenerateFlowFile","comments":"","position":{"x":632.0,"y":208.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"10 KB","mime-type":null,"generate-ff-custom-text":"Débit Test File","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"08b6f32f-1bef-3d39-ad5f-c9ca1b6b3fb7","instanceIdentifier":"7e8dbe40-019a-1000-ee67-9d2dd2f5732c","name":"","source":{"id":"f63b7331-5f0b-3cea-b00d-3c6e8ddc0daf","type":"PROCESSOR","groupId":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2","name":"LogAttribute","comments":"","instanceIdentifier":"7e8c1944-019a-1000-dc58-b5893bf39e93"},"destination":{"id":"029f0d5e-2b88-3532-b75a-c7c7f0e3a924","type":"PROCESSOR","groupId":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2","name":"PutFile","comments":"","instanceIdentifier":"7e8d8c33-019a-1000-e41a-6921d8a120f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2"},{"identifier":"97bf9f54-098c-30fe-b974-8a08a9684fcc","instanceIdentifier":"7e8ba8c7-019a-1000-77ae-6d1e2acd39b4","name":"","source":{"id":"c75ca3bc-7801-3d3e-b517-b21c41ede349","type":"PROCESSOR","groupId":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2","name":"GenerateFlowFile","comments":"","instanceIdentifier":"7e5cbaad-019a-1000-f79d-1f8cef4438ac"},"destination":{"id":"9682f2b6-f57e-3399-9661-ef92e5826397","type":"PROCESSOR","groupId":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2","name":"UpdateAttribute","comments":"","instanceIdentifier":"7e66ee31-019a-1000-bf1f-88b780a1400f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2"},{"identifier":"9eca5fc8-0e04-3fe3-969a-21794f6969c5","instanceIdentifier":"7e8ccefd-019a-1000-c2b1-cd9bad1ca9a9","name":"","source":{"id":"9682f2b6-f57e-3399-9661-ef92e5826397","type":"PROCESSOR","groupId":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2","name":"UpdateAttribute","comments":"","instanceIdentifier":"7e66ee31-019a-1000-bf1f-88b780a1400f"},"destination":{"id":"f63b7331-5f0b-3cea-b00d-3c6e8ddc0daf","type":"PROCESSOR","groupId":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2","name":"LogAttribute","comments":"","instanceIdentifier":"7e8c1944-019a-1000-dc58-b5893bf39e93"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"94da2f9e-a70a-3f75-8ecd-d8bba18ab8e2"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}