nifi_flows/nifi_cpu_flow.json
{"flowContents":{"identifier":"f4522805-39e4-3f21-b79a-941ea204ea51","instanceIdentifier":"87e0f9e8-019a-1000-3071-211a3335ff90","name":"NiFi Flow CPU","comments":"","position":{"x":200.0,"y":464.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"47d763ba-81fb-32ae-b26b-07a507889963","instanceIdentifier":"8834dc12-019a-1000-18c3-57aaf5abba6c","name":"UpdateAttribute","comments":"","position":{"x":752.0,"y":-72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"cpu_load_average":"${random():mod(100)}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","cpu_available_processors":"4","Stateful Variables Initial Value":null,"cpu_percent":"${random():mod(100)}","timestamp":"${now():format(\"yyyy-MM-dd HH:mm:ss,SSS\")}"},"propertyDescriptors":{"cpu_load_average":{"name":"cpu_load_average","displayName":"cpu_load_average","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"cpu_available_processors":{"name":"cpu_available_processors","displayName":"cpu_available_processors","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"cpu_percent":{"name":"cpu_percent","displayName":"cpu_percent","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f4522805-39e4-3f21-b79a-941ea204ea51"},{"identifier":"49b62c46-b180-3594-88fc-861cb8c643f7","instanceIdentifier":"8836ba54-019a-1000-1190-888e041af9ac","name":"AttributesToJSON","comments":"","position":{"x":752.0,"y":160.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"cpu_available_processors, cpu_load_average, cpu_percent, timestamp","Include Core Attributes":"false","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f4522805-39e4-3f21-b79a-941ea204ea51"},{"identifier":"ba6546c2-cb8e-31f5-8a0c-ed612d10fb38","instanceIdentifier":"88386653-019a-1000-7408-53dc0186e5f2","name":"PutFile","comments":"","position":{"x":144.0,"y":160.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/cpu_metrics","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f4522805-39e4-3f21-b79a-941ea204ea51"},{"identifier":"aa9927fb-099d-3eeb-8d6a-361f8d5823f9","instanceIdentifier":"88340c23-019a-1000-c6e6-ae406ec4aaef","name":"GenerateFlowFile","comments":"","position":{"x":136.0,"y":-72.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f4522805-39e4-3f21-b79a-941ea204ea51"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fbe8da8a-9531-3855-a046-d7d0a9c2961b","instanceIdentifier":"88424cbe-019a-1000-bcbc-2d20dff59155","name":"","source":{"id":"aa9927fb-099d-3eeb-8d6a-361f8d5823f9","type":"PROCESSOR","groupId":"f4522805-39e4-3f21-b79a-941ea204ea51","name":"GenerateFlowFile","comments":"","instanceIdentifier":"88340c23-019a-1000-c6e6-ae406ec4aaef"},"destination":{"id":"47d763ba-81fb-32ae-b26b-07a507889963","type":"PROCESSOR","groupId":"f4522805-39e4-3f21-b79a-941ea204ea51","name":"UpdateAttribute","comments":"","instanceIdentifier":"8834dc12-019a-1000-18c3-57aaf5abba6c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f4522805-39e4-3f21-b79a-941ea204ea51"},{"identifier":"5c9d364a-d06a-3e66-96ca-6382200f1f71","instanceIdentifier":"88429554-019a-1000-fc32-527f9df4cb4b","name":"","source":{"id":"49b62c46-b180-3594-88fc-861cb8c643f7","type":"PROCESSOR","groupId":"f4522805-39e4-3f21-b79a-941ea204ea51","name":"AttributesToJSON","comments":"","instanceIdentifier":"8836ba54-019a-1000-1190-888e041af9ac"},"destination":{"id":"ba6546c2-cb8e-31f5-8a0c-ed612d10fb38","type":"PROCESSOR","groupId":"f4522805-39e4-3f21-b79a-941ea204ea51","name":"PutFile","comments":"","instanceIdentifier":"88386653-019a-1000-7408-53dc0186e5f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f4522805-39e4-3f21-b79a-941ea204ea51"},{"identifier":"a89f6061-bad5-3145-becc-746ff1dd0db2","instanceIdentifier":"884274ad-019a-1000-6b32-0c0012d02cf3","name":"","source":{"id":"47d763ba-81fb-32ae-b26b-07a507889963","type":"PROCESSOR","groupId":"f4522805-39e4-3f21-b79a-941ea204ea51","name":"UpdateAttribute","comments":"","instanceIdentifier":"8834dc12-019a-1000-18c3-57aaf5abba6c"},"destination":{"id":"49b62c46-b180-3594-88fc-861cb8c643f7","type":"PROCESSOR","groupId":"f4522805-39e4-3f21-b79a-941ea204ea51","name":"AttributesToJSON","comments":"","instanceIdentifier":"8836ba54-019a-1000-1190-888e041af9ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f4522805-39e4-3f21-b79a-941ea204ea51"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}