nifi_flows/nifi_pipline_status_flow.json
{"flowContents":{"identifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8","instanceIdentifier":"aff153e8-019a-1000-c959-68791e6ac30e","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"066804e1-d9a7-3a70-bd35-5f3a48c77472","instanceIdentifier":"b0fdf724-019a-1000-ebdd-917a1156cd79","name":"PutFile","comments":"","position":{"x":-176.0,"y":304.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/data/outgoing","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"},{"identifier":"8782ac61-6b62-3c72-b604-02e3d12a5dc7","instanceIdentifier":"b0d11035-019a-1000-777a-542f31927bd5","name":"RouteOnAttribute","comments":"","position":{"x":600.0,"y":296.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Routing Strategy":"Route to Property name","SUCCESS":"${status:equals('SUCCESS')}","FAILURE":"${status:equals('FAILURE')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"SUCCESS":{"name":"SUCCESS","displayName":"SUCCESS","identifiesControllerService":false,"sensitive":false},"FAILURE":{"name":"FAILURE","displayName":"FAILURE","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"},{"identifier":"d7954dfa-a91e-3c2d-b9da-fbf1765289ed","instanceIdentifier":"b0c5078f-019a-1000-569a-24934c20deb5","name":"GenerateFlowFile","comments":"","position":{"x":-160.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"pipeline_name=PipelineA","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","pipeline_name":"PipelineA"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false},"pipeline_name":{"name":"pipeline_name","displayName":"pipeline_name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"},{"identifier":"5e388ac7-32e3-3b92-9c6d-3eeae8d71cb6","instanceIdentifier":"b0ca3e8d-019a-1000-93ed-3337b13877e5","name":"UpdateAttribute","comments":"","position":{"x":600.0,"y":-8.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"status":"${random():mod(2):equals(0):ifElse('SUCCESS','FAILURE')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f5be39b1-a9dc-34e8-9672-0e0e57fd9f54","instanceIdentifier":"b0ccbc60-019a-1000-8b0d-31a0b36d5993","name":"","source":{"id":"d7954dfa-a91e-3c2d-b9da-fbf1765289ed","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"b0c5078f-019a-1000-569a-24934c20deb5"},"destination":{"id":"5e388ac7-32e3-3b92-9c6d-3eeae8d71cb6","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0ca3e8d-019a-1000-93ed-3337b13877e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"},{"identifier":"3a535a19-d279-3ced-a882-12dcaa880b6b","instanceIdentifier":"b0d131bf-019a-1000-0002-a5534a319cde","name":"","source":{"id":"5e388ac7-32e3-3b92-9c6d-3eeae8d71cb6","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"UpdateAttribute","comments":"","instanceIdentifier":"b0ca3e8d-019a-1000-93ed-3337b13877e5"},"destination":{"id":"8782ac61-6b62-3c72-b604-02e3d12a5dc7","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b0d11035-019a-1000-777a-542f31927bd5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"},{"identifier":"1f0c6557-d9fc-307d-a06d-d8406c353ea7","instanceIdentifier":"b12ba5fc-019a-1000-7de4-bfe4218ce7b8","name":"success_conn","source":{"id":"8782ac61-6b62-3c72-b604-02e3d12a5dc7","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b0d11035-019a-1000-777a-542f31927bd5"},"destination":{"id":"066804e1-d9a7-3a70-bd35-5f3a48c77472","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"PutFile","comments":"","instanceIdentifier":"b0fdf724-019a-1000-ebdd-917a1156cd79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":392.0,"y":289.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"},{"identifier":"8122ab30-c6ab-3a70-a47e-783e718dc667","instanceIdentifier":"b12b8e9d-019a-1000-cf08-69a9b3c117ab","name":"failure_conn","source":{"id":"8782ac61-6b62-3c72-b604-02e3d12a5dc7","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"RouteOnAttribute","comments":"","instanceIdentifier":"b0d11035-019a-1000-777a-542f31927bd5"},"destination":{"id":"066804e1-d9a7-3a70-bd35-5f3a48c77472","type":"PROCESSOR","groupId":"95c245e9-a590-3385-954b-2cfacbe3c7b8","name":"PutFile","comments":"","instanceIdentifier":"b0fdf724-019a-1000-ebdd-917a1156cd79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["FAILURE"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"95c245e9-a590-3385-954b-2cfacbe3c7b8"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}