nifi_flows/RamFlow.json
{"flowContents":{"identifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453","instanceIdentifier":"bff20754-019a-1000-4e0d-f7cb648ed0d6","name":"RAMFLOW","comments":"","position":{"x":168.0,"y":240.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"92b7d04e-fa30-3766-a6c1-ba4db7ad3bd0","instanceIdentifier":"c04736ae-019a-1000-55b4-d0e844e27f16","name":"UpdateAttribute","comments":"","position":{"x":800.0,"y":24.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"Delete Attributes Expression":null,"ram_used_mb":"${random():mod(32768):trim()}","ram_total_mb":"${random():mod(32768):trim()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ram_free_mb":"${random():mod(32768):trim()}","ram_usage_percent":"${random():mod(101):trim()}","Stateful Variables Initial Value":null,"timestamp":"${now():format(\"yyyy-MM-dd HH:mm:ss,SSS\"):trim()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"ram_used_mb":{"name":"ram_used_mb","displayName":"ram_used_mb","identifiesControllerService":false,"sensitive":false},"ram_total_mb":{"name":"ram_total_mb","displayName":"ram_total_mb","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"ram_free_mb":{"name":"ram_free_mb","displayName":"ram_free_mb","identifiesControllerService":false,"sensitive":false},"ram_usage_percent":{"name":"ram_usage_percent","displayName":"ram_usage_percent","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453"},{"identifier":"bddfed96-3471-387e-a72a-ac31c3bcd378","instanceIdentifier":"c04ace7d-019a-1000-d3c5-6e7ac3318cfc","name":"AttributesToJSON","comments":"","position":{"x":792.0,"y":360.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"ram_total_mb, ram_used_mb, ram_free_mb, ram_usage_percent, timestamp","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453"},{"identifier":"f3b8f1a1-a76b-3977-9689-be20af62c23d","instanceIdentifier":"c0447edb-019a-1000-535d-48b34bf62b9f","name":"GenerateFlowFile","comments":"","position":{"x":152.0,"y":16.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453"},{"identifier":"91470b64-8062-3bd1-9421-c204daa57fe0","instanceIdentifier":"ca5d4ccc-019a-1000-cbb7-34228fb01b10","name":"PutFile","comments":"","position":{"x":160.0,"y":352.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/data","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"60c5a15b-5964-3e96-85ac-7019545a679b","instanceIdentifier":"c04e26bc-019a-1000-fcf3-50a4ccd53c09","name":"","source":{"id":"92b7d04e-fa30-3766-a6c1-ba4db7ad3bd0","type":"PROCESSOR","groupId":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453","name":"UpdateAttribute","comments":"","instanceIdentifier":"c04736ae-019a-1000-55b4-d0e844e27f16"},"destination":{"id":"bddfed96-3471-387e-a72a-ac31c3bcd378","type":"PROCESSOR","groupId":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453","name":"AttributesToJSON","comments":"","instanceIdentifier":"c04ace7d-019a-1000-d3c5-6e7ac3318cfc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453"},{"identifier":"4a73322d-72ad-3acc-9ec9-a0c885e13072","instanceIdentifier":"c04c7d79-019a-1000-dfb5-0c4d9034de37","name":"","source":{"id":"f3b8f1a1-a76b-3977-9689-be20af62c23d","type":"PROCESSOR","groupId":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453","name":"GenerateFlowFile","comments":"","instanceIdentifier":"c0447edb-019a-1000-535d-48b34bf62b9f"},"destination":{"id":"92b7d04e-fa30-3766-a6c1-ba4db7ad3bd0","type":"PROCESSOR","groupId":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453","name":"UpdateAttribute","comments":"","instanceIdentifier":"c04736ae-019a-1000-55b4-d0e844e27f16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453"},{"identifier":"8c5e11e3-7b4b-31db-96be-a6a982238e3e","instanceIdentifier":"ca8b7957-019a-1000-4218-6fcce245d687","name":"","source":{"id":"bddfed96-3471-387e-a72a-ac31c3bcd378","type":"PROCESSOR","groupId":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453","name":"AttributesToJSON","comments":"","instanceIdentifier":"c04ace7d-019a-1000-d3c5-6e7ac3318cfc"},"destination":{"id":"91470b64-8062-3bd1-9421-c204daa57fe0","type":"PROCESSOR","groupId":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453","name":"PutFile","comments":"","instanceIdentifier":"ca5d4ccc-019a-1000-cbb7-34228fb01b10"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4c3e145-d5b3-32eb-a857-e5eb0bf89453"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}