Alerting/AlertingEngine_Flow.json
{"flowContents":{"identifier":"946dc262-02a7-387e-a204-bc5ebe5e49cd","instanceIdentifier":"c55fcf84-019a-1000-3974-de0051022e9d","name":"AlertingEngine","comments":"","position":{"x":280.0,"y":120.0},"processGroups":[{"identifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a","instanceIdentifier":"c5a4151a-019a-1000-535c-cc92b410215c","name":"SystemMonitor","comments":"","position":{"x":208.0,"y":-48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ede87c41-f416-3942-8ab0-e603c6f515eb","instanceIdentifier":"d6774015-019a-1000-bf26-59a63d3c5131","name":"InvokeHTTP","comments":"","position":{"x":0.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/71265367-ba8f-4e57-a515-8dc36164b38c","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"98c18d74-912a-3db8-99af-abcf2a99fd2d","instanceIdentifier":"deb20a26-019a-1000-2347-94d9c5ff9d3c","name":"PutEmail","comments":"","position":{"x":-16.0,"y":408.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – RAM HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">RAM Metrics</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> RAM_HIGH<br>\n        <strong>Metric:</strong> RAM Usage<br>\n        <strong>Current Value:</strong> ${ramUsedNum}%<br>\n        <strong>Threshold:</strong> 75%<br>\n        <strong>Details:</strong> RAM usage exceeded recommended limits.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"soukaboustta1999@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert RAM","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"soukaboustta1999@gmail.com","To":"soukabous@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","instanceIdentifier":"c5cc1f69-019a-1000-63ff-8a569ccca513","name":"RouteOnAttribute","comments":"","position":{"x":1168.0,"y":288.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CPU_HIGH":"${cpuPct:gt(80)}","Routing Strategy":"Route to Property name","DISK_LOW_FLOWFILE":"${diskFlowFileRepoFreeNum:lt(5368709120)}","RAM_HIGH":"${ramZPct:gt(75)}","DISK_LOW_CONTENT":"${diskContentRepoFreeNum:lt(10737418240)}","THREAD_HIGH":"${threadsNum:gt(200)}"},"propertyDescriptors":{"CPU_HIGH":{"name":"CPU_HIGH","displayName":"CPU_HIGH","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"DISK_LOW_FLOWFILE":{"name":"DISK_LOW_FLOWFILE","displayName":"DISK_LOW_FLOWFILE","identifiesControllerService":false,"sensitive":false},"RAM_HIGH":{"name":"RAM_HIGH","displayName":"RAM_HIGH","identifiesControllerService":false,"sensitive":false},"DISK_LOW_CONTENT":{"name":"DISK_LOW_CONTENT","displayName":"DISK_LOW_CONTENT","identifiesControllerService":false,"sensitive":false},"THREAD_HIGH":{"name":"THREAD_HIGH","displayName":"THREAD_HIGH","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"ebac7bfb-9c01-3e1d-b6e2-867d27cce5ce","instanceIdentifier":"da451d49-019a-1000-e1a1-6bc9b1d23955","name":"InvokeHTTP","comments":"","position":{"x":-24.0,"y":560.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/71265367-ba8f-4e57-a515-8dc36164b38c","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"65b01383-1e27-3ffa-9bac-b40c54c51d6b","instanceIdentifier":"da448219-019a-1000-0d10-310637bc89ae","name":"InvokeHTTP","comments":"","position":{"x":0.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/71265367-ba8f-4e57-a515-8dc36164b38c","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e618f93f-ef9c-34a6-99a3-cf9892486f11","instanceIdentifier":"da46493a-019a-1000-6d6c-2631b8f16148","name":"ReplaceText","comments":"","position":{"x":608.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"DISK FlowFile\",\n  \"value\": \"${diskFlowFileRepoFreeNum}\",\n  \"threshold\": \"21474836480\",\n  \"alert_type\": \"DISK_LOW_FLOW_FILE\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"If full, NiFi cannot track files, flows may break\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"7e2c8559-e557-345e-ba2f-666e29eabde8","instanceIdentifier":"c5ac5028-019a-1000-6b3c-17adc49c35b4","name":"EvaluateJsonPath","comments":"","position":{"x":1160.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Destination":"flowfile-attribute","diskContentRepoFree":"$.systemDiagnostics.aggregateSnapshot.contentRepositoryStorageUsage[0].freeSpaceBytes","diskFlowFileRepoFree":"$.systemDiagnostics.aggregateSnapshot.flowFileRepositoryStorageUsage.freeSpaceBytes","ramMax":"$.systemDiagnostics.aggregateSnapshot.maxHeapBytes","heapUtilization":"$.systemDiagnostics.aggregateSnapshot.heapUtilization","Return Type":"auto-detect","threads":"$.systemDiagnostics.aggregateSnapshot.totalThreads","cpu":"$.systemDiagnostics.aggregateSnapshot.processorLoadAverage","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","ramUsed":"$.systemDiagnostics.aggregateSnapshot.usedHeapBytes","timestamp":"$.systemDiagnostics.aggregateSnapshot.statsLastRefreshed"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"diskContentRepoFree":{"name":"diskContentRepoFree","displayName":"diskContentRepoFree","identifiesControllerService":false,"sensitive":false},"diskFlowFileRepoFree":{"name":"diskFlowFileRepoFree","displayName":"diskFlowFileRepoFree","identifiesControllerService":false,"sensitive":false},"ramMax":{"name":"ramMax","displayName":"ramMax","identifiesControllerService":false,"sensitive":false},"heapUtilization":{"name":"heapUtilization","displayName":"heapUtilization","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"threads":{"name":"threads","displayName":"threads","identifiesControllerService":false,"sensitive":false},"cpu":{"name":"cpu","displayName":"cpu","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"ramUsed":{"name":"ramUsed","displayName":"ramUsed","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"a3ef7e6e-4477-3cf5-b8c9-437b7663ad63","instanceIdentifier":"dac78f32-019a-1000-3b51-9913b3d05f4e","name":"PutEmail","comments":"","position":{"x":0.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – CPU HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">CPU Metrics</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> CPU_HIGH<br>\n        <strong>Metric:</strong> CPU Usage<br>\n        <strong>Current Value:</strong> ${cpuPct}%<br>\n        <strong>Threshold:</strong> 80%<br>\n        <strong>Details:</strong> CPU usage exceeded safe limits.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"soukaboustta1999@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert CPU","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"soukaboustta1999@gmail.com","To":"soukabous@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0fc8626d-1b95-3274-9a48-056e8b7978ee","instanceIdentifier":"c5b5e617-019a-1000-77ff-174f41a3459d","name":"UpdateAttribute","comments":"","position":{"x":1168.0,"y":-112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"threadsNum":"${threads:toNumber()}","Delete Attributes Expression":null,"ramZPct":"${ramUsed:divide(${ramMax}):multiply(100)}","ramUsedNum":"${ramUsed:toNumber()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ramMaxNum":"${ramMax:toNumber()}","diskFlowFileRepoFreeNum":"${diskFlowFileRepoFree:toNumber()}","cpuPct":"${cpu:multiply(100)}","diskContentRepoFreeNum":"${diskContentRepoFree:toNumber()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"threadsNum":{"name":"threadsNum","displayName":"threadsNum","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"ramZPct":{"name":"ramZPct","displayName":"ramZPct","identifiesControllerService":false,"sensitive":false},"ramUsedNum":{"name":"ramUsedNum","displayName":"ramUsedNum","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"ramMaxNum":{"name":"ramMaxNum","displayName":"ramMaxNum","identifiesControllerService":false,"sensitive":false},"diskFlowFileRepoFreeNum":{"name":"diskFlowFileRepoFreeNum","displayName":"diskFlowFileRepoFreeNum","identifiesControllerService":false,"sensitive":false},"cpuPct":{"name":"cpuPct","displayName":"cpuPct","identifiesControllerService":false,"sensitive":false},"diskContentRepoFreeNum":{"name":"diskContentRepoFreeNum","displayName":"diskContentRepoFreeNum","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"49a3a21d-9193-32de-a5da-2efa03ecb24c","instanceIdentifier":"df95c533-019a-1000-2839-c151ff4411d4","name":"InvokeHTTP","comments":"","position":{"x":-24.0,"y":840.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/71265367-ba8f-4e57-a515-8dc36164b38c","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"b91a090b-f0fe-3eac-b387-1761736f3d69","instanceIdentifier":"c5a54f60-019a-1000-6bdd-8214f6de08a3","name":"GenerateFlowFile","comments":"","position":{"x":0.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"40 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"bc98954e-0b24-30c7-a674-37f99af3fbc5","instanceIdentifier":"df96f1f1-019a-1000-e32a-939676258768","name":"ReplaceText","comments":"","position":{"x":608.0,"y":640.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"DISK Content \",\n  \"value\": \"${diskContentRepoFreeNum}\",\n  \"threshold\": \"21474836480\",\n  \"alert_type\": \"DISK_LOW_CONTENT\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"If full, NiFi cannot write data\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"70abfac3-768b-3292-95c0-3999b5ff45cf","instanceIdentifier":"deb24d08-019a-1000-3ce7-8ee134f22ba2","name":"PutEmail","comments":"","position":{"x":-24.0,"y":704.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – THREADS HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Thread Metrics</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> THREADS_HIGH<br>\n        <strong>Metric:</strong> Active Threads<br>\n        <strong>Current Value:</strong> ${threadsNum}<br>\n        <strong>Threshold:</strong> 200<br>\n        <strong>Details:</strong> High number of active threads detected.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"soukaboustta1999@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert THREADS","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"soukaboustta1999@gmail.com","To":"soukabous@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"45fe2c69-8681-3bbf-8208-ca5071024e78","instanceIdentifier":"c5a72b4e-019a-1000-d6bc-099d0e51ec65","name":"InvokeHTTP","comments":"","position":{"x":1160.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://nifi:8080/nifi-api/system-diagnostics","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"30 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"44663dcd-809c-3166-a53e-c415ded1f1cf","instanceIdentifier":"da47002b-019a-1000-a637-0f94e99be045","name":"ReplaceText","comments":"","position":{"x":568.0,"y":416.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"THREADS\",\n  \"value\": \"${threadsNum}\",\n  \"threshold\": \"200\",\n  \"alert_type\": \"THREAD_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"Thread count exceeded 200\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"6cad82fb-5647-357d-afa3-203117363bf3","instanceIdentifier":"df97bcbe-019a-1000-37d8-dd93670de8a8","name":"PutEmail","comments":"","position":{"x":-24.0,"y":976.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – LOW DISK (Content Repo)\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Content Repository</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> DISK_LOW_CONTENT<br>\n        <strong>Metric:</strong> Free Disk (Content Repo)<br>\n        <strong>Current Value:</strong> ${diskContentRepoFreeNum:toNumber():divide(1024):divide(1024):divide(1024):format('0.00')} GB<br>\n        <strong>Threshold:</strong> 10 GB<br>\n        <strong>Details:</strong> Low content repo space may stop NiFi writes.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"soukaboustta1999@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert DISK","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"soukaboustta1999@gmail.com","To":"soukabous@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","instanceIdentifier":"da46e3b4-019a-1000-096e-19f72c71b4b6","name":"ReplaceText","comments":"","position":{"x":584.0,"y":120.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"RAM\",\n  \"value\": \"${ramZPct}\",\n  \"threshold\": \"75%\",\n  \"alert_type\": \"RAM_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"RAM usage exceeded 75%\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"734fcb0c-5570-306a-bada-5255f79684c8","instanceIdentifier":"d6742c31-019a-1000-d234-4685621bf132","name":"ReplaceText","comments":"","position":{"x":672.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"CPU\",\n  \"value\": \"${cpuPct}\",\n  \"threshold\": \"80%\",\n  \"alert_type\": \"CPU_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"CPU usage exceeded 80%\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"08635015-6b95-3a62-ba56-e9130e17aace","instanceIdentifier":"da44edaa-019a-1000-7cc8-19b6e0d031ce","name":"InvokeHTTP","comments":"","position":{"x":-16.0,"y":264.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/71265367-ba8f-4e57-a515-8dc36164b38c","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e27c83db-9a3a-32b5-acff-92c8e537b675","instanceIdentifier":"deb1a6a0-019a-1000-41bd-379902b364f8","name":"PutEmail","comments":"","position":{"x":-8.0,"y":96.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – LOW DISK (FlowFile Repo)\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Disk FlowFile Repository</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> DISK_LOW_FLOW_FILE<br>\n        <strong>Metric:</strong> Free Disk (FlowFile Repo)<br>\n        <strong>Current Value:</strong> ${diskFlowFileRepoFreeNum:toNumber():divide(1024):divide(1024):divide(1024):format('0.00')} GB<br>\n        <strong>Threshold:</strong> 10 GB<br>\n        <strong>Details:</strong> Low disk space may break NiFi flows.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"soukaboustta1999@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert DISK","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"soukaboustta1999@gmail.com","To":"soukabous@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"aff7bbe8-9b0f-312b-9eb8-dc6f3f779747","instanceIdentifier":"da485fb4-019a-1000-6f53-135369d2353c","name":"","source":{"id":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da46e3b4-019a-1000-096e-19f72c71b4b6"},"destination":{"id":"08635015-6b95-3a62-ba56-e9130e17aace","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"da44edaa-019a-1000-7cc8-19b6e0d031ce"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0c2af0db-06a1-3a16-9015-9cf790d1eac7","instanceIdentifier":"da47c451-019a-1000-093c-a37a40a79de1","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5cc1f69-019a-1000-63ff-8a569ccca513"},"destination":{"id":"e618f93f-ef9c-34a6-99a3-cf9892486f11","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da46493a-019a-1000-6d6c-2631b8f16148"},"labelIndex":1,"zIndex":0,"selectedRelationships":["DISK_LOW_FLOWFILE"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"998c1e63-7b0d-31d5-911a-97f546cde28e","instanceIdentifier":"c5cd8c29-019a-1000-e033-3b84adf519e6","name":"","source":{"id":"0fc8626d-1b95-3274-9a48-056e8b7978ee","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"UpdateAttribute","comments":"","instanceIdentifier":"c5b5e617-019a-1000-77ff-174f41a3459d"},"destination":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5cc1f69-019a-1000-63ff-8a569ccca513"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"4efa62ed-d0e7-3b1c-ac33-063c1ce3abc3","instanceIdentifier":"deb28888-019a-1000-35d8-0be272804c3a","name":"","source":{"id":"44663dcd-809c-3166-a53e-c415ded1f1cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da47002b-019a-1000-a637-0f94e99be045"},"destination":{"id":"70abfac3-768b-3292-95c0-3999b5ff45cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"deb24d08-019a-1000-3ce7-8ee134f22ba2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0d12a3f7-42c8-3bcc-9598-1efc0905377d","instanceIdentifier":"c5b61b59-019a-1000-66bc-dd18b0cfcba5","name":"","source":{"id":"7e2c8559-e557-345e-ba2f-666e29eabde8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c5ac5028-019a-1000-6b3c-17adc49c35b4"},"destination":{"id":"0fc8626d-1b95-3274-9a48-056e8b7978ee","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"UpdateAttribute","comments":"","instanceIdentifier":"c5b5e617-019a-1000-77ff-174f41a3459d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"aba1a77b-75a0-30ad-b6c7-aff0e9c0a081","instanceIdentifier":"df981d04-019a-1000-f603-8b6988e2f0af","name":"","source":{"id":"bc98954e-0b24-30c7-a674-37f99af3fbc5","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"df96f1f1-019a-1000-e32a-939676258768"},"destination":{"id":"6cad82fb-5647-357d-afa3-203117363bf3","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"df97bcbe-019a-1000-37d8-dd93670de8a8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"162bc62d-6d60-34c7-a5f1-c210dbefa225","instanceIdentifier":"deb1d4a0-019a-1000-da7b-56f629c0f903","name":"","source":{"id":"e618f93f-ef9c-34a6-99a3-cf9892486f11","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da46493a-019a-1000-6d6c-2631b8f16148"},"destination":{"id":"e27c83db-9a3a-32b5-acff-92c8e537b675","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"deb1a6a0-019a-1000-41bd-379902b364f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"f3231db0-24cd-312d-b23c-e93b2e149a70","instanceIdentifier":"df9808e8-019a-1000-0f52-736a256a07b5","name":"","source":{"id":"bc98954e-0b24-30c7-a674-37f99af3fbc5","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"df96f1f1-019a-1000-e32a-939676258768"},"destination":{"id":"49a3a21d-9193-32de-a5da-2efa03ecb24c","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"df95c533-019a-1000-2839-c151ff4411d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"4ee1481a-9081-36a4-8049-6be3d2315d0f","instanceIdentifier":"da47e5f1-019a-1000-3f69-3a892a9fccde","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5cc1f69-019a-1000-63ff-8a569ccca513"},"destination":{"id":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da46e3b4-019a-1000-096e-19f72c71b4b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["RAM_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"170a6d99-ae7f-3ac0-90cf-e9435c2f0ce3","instanceIdentifier":"da48079b-019a-1000-88d1-b313e41de2d5","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5cc1f69-019a-1000-63ff-8a569ccca513"},"destination":{"id":"44663dcd-809c-3166-a53e-c415ded1f1cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da47002b-019a-1000-a637-0f94e99be045"},"labelIndex":1,"zIndex":0,"selectedRelationships":["THREAD_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"9c0df733-41d6-32d0-a8dc-420a2ec0c14a","instanceIdentifier":"d6763518-019a-1000-7bd9-86c8e9c85f6d","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5cc1f69-019a-1000-63ff-8a569ccca513"},"destination":{"id":"734fcb0c-5570-306a-bada-5255f79684c8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"d6742c31-019a-1000-d234-4685621bf132"},"labelIndex":1,"zIndex":0,"selectedRelationships":["CPU_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0fda4ac6-c218-3c28-9574-03f405843ef7","instanceIdentifier":"da484739-019a-1000-7006-c892840ba5c1","name":"","source":{"id":"e618f93f-ef9c-34a6-99a3-cf9892486f11","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da46493a-019a-1000-6d6c-2631b8f16148"},"destination":{"id":"65b01383-1e27-3ffa-9bac-b40c54c51d6b","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"da448219-019a-1000-0d10-310637bc89ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"390747c0-40a3-3c46-aedc-b5ce684b89b0","instanceIdentifier":"c5b41af9-019a-1000-f032-15de722a48bb","name":"","source":{"id":"45fe2c69-8681-3bbf-8208-ca5071024e78","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"c5a72b4e-019a-1000-d6bc-099d0e51ec65"},"destination":{"id":"7e2c8559-e557-345e-ba2f-666e29eabde8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c5ac5028-019a-1000-6b3c-17adc49c35b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e15029b2-d0f0-31f3-8e6e-cb141b522a2e","instanceIdentifier":"de8cdc80-019a-1000-ce53-198684c7f94a","name":"","source":{"id":"734fcb0c-5570-306a-bada-5255f79684c8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"d6742c31-019a-1000-d234-4685621bf132"},"destination":{"id":"ede87c41-f416-3942-8ab0-e603c6f515eb","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"d6774015-019a-1000-bf26-59a63d3c5131"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"602ecf7a-99de-3ebf-852d-c6de87071a6b","instanceIdentifier":"deb241df-019a-1000-ac9b-c1120ad2685c","name":"","source":{"id":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da46e3b4-019a-1000-096e-19f72c71b4b6"},"destination":{"id":"98c18d74-912a-3db8-99af-abcf2a99fd2d","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"deb20a26-019a-1000-2347-94d9c5ff9d3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"9901f95b-96ef-3fd4-91a7-06b152d1b7a6","instanceIdentifier":"da487b10-019a-1000-de37-99917062b6a7","name":"","source":{"id":"44663dcd-809c-3166-a53e-c415ded1f1cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"da47002b-019a-1000-a637-0f94e99be045"},"destination":{"id":"ebac7bfb-9c01-3e1d-b6e2-867d27cce5ce","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"da451d49-019a-1000-e1a1-6bc9b1d23955"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"769c0fc0-2765-371c-b841-5e93d1e05763","instanceIdentifier":"dac7cd8d-019a-1000-c520-0cbe0c90d48b","name":"","source":{"id":"734fcb0c-5570-306a-bada-5255f79684c8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"d6742c31-019a-1000-d234-4685621bf132"},"destination":{"id":"a3ef7e6e-4477-3cf5-b8c9-437b7663ad63","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"dac78f32-019a-1000-3b51-9913b3d05f4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"5512a08e-b802-385a-8179-12ed938b12b9","instanceIdentifier":"c5abdd71-019a-1000-a0f2-f7531ef8de07","name":"","source":{"id":"b91a090b-f0fe-3eac-b387-1761736f3d69","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"GenerateFlowFile","comments":"","instanceIdentifier":"c5a54f60-019a-1000-6bdd-8214f6de08a3"},"destination":{"id":"45fe2c69-8681-3bbf-8208-ca5071024e78","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"c5a72b4e-019a-1000-d6bc-099d0e51ec65"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e9188448-7a5c-3cd2-aeed-6525f14acf88","instanceIdentifier":"df975765-019a-1000-4934-e7d3b6691d2b","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c5cc1f69-019a-1000-63ff-8a569ccca513"},"destination":{"id":"bc98954e-0b24-30c7-a674-37f99af3fbc5","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"df96f1f1-019a-1000-e32a-939676258768"},"labelIndex":1,"zIndex":0,"selectedRelationships":["DISK_LOW_CONTENT"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"946dc262-02a7-387e-a204-bc5ebe5e49cd"},{"identifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","instanceIdentifier":"ded09033-019a-1000-25fd-4ec0344eb447","name":"FlowMonitor","comments":"","position":{"x":640.0,"y":-48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","instanceIdentifier":"ded10a8e-019a-1000-1590-3f7c5bcef497","name":"ReplaceText","comments":"","position":{"x":536.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"QUEUE FILES\",\n  \"queued_files\": \"${queuedFlowFiles}\",\n  \"threshold_files\": \"50\",\n  \"alert_type\": \"QUEUE_FILES_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"queued files size is above limits\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"dec0bdc5-fc2b-3660-a585-29da218a64c1","instanceIdentifier":"ded10a8f-019a-1000-cfab-e23e11a91e56","name":"InvokeHTTP","comments":"","position":{"x":-199.99998595847228,"y":-313.49999188755817},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/71265367-ba8f-4e57-a515-8dc36164b38c","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"f12d27e6-38a7-3d88-9c79-6ee97ade1e20","instanceIdentifier":"ded10a89-019a-1000-8992-4589bae405dc","name":"GenerateFlowFile","comments":"","position":{"x":-199.99998595847228,"y":-473.49999188755817},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"40 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"139c664e-fadf-3081-bc4e-0bd0c0359d70","instanceIdentifier":"ded10a93-019a-1000-9a93-e17113f6ca1b","name":"ReplaceText","comments":"","position":{"x":432.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"QUEUE BYTES\",\n  \"queued_bytes\": \"${queuedBytes}\",\n  \"threshold_bytes\": \"1073741824\",\n  \"alert_type\": \"QUEUE_BYTES_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"Queue Bytes size is above limits\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"f2d226ca-1761-3491-b153-90acf213b32f","instanceIdentifier":"ded10a8a-019a-1000-c94d-c4f8be260317","name":"InvokeHTTP","comments":"","position":{"x":944.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://nifi:8080/nifi-api/flow/status","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"30 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"424584c5-b491-3c00-934c-d9c833d1b321","instanceIdentifier":"ded10a8b-019a-1000-3ac8-ea6470f9d98f","name":"EvaluateJsonPath","comments":"","position":{"x":944.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","queuedBytes":"$.controllerStatus.bytesQueued","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","queuedFlowFiles":"$.controllerStatus.flowFilesQueued"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"queuedBytes":{"name":"queuedBytes","displayName":"queuedBytes","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"queuedFlowFiles":{"name":"queuedFlowFiles","displayName":"queuedFlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"bde14e03-6dc6-376f-8102-6eb637120818","instanceIdentifier":"ded10a96-019a-1000-16c5-d10db7b4cc7e","name":"PutEmail","comments":"","position":{"x":-199.99998595847228,"y":-161.49999188755817},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – QUEUE FILE HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Timestamp</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Queue File Count</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> QUEUE_FILE_HIGH<br>\n        <strong>Metric:</strong> Queue FlowFiles<br>\n        <strong>Current Value:</strong> ${queuedFlowFiles}<br>\n        <strong>Threshold:</strong> 50 <br>\n        <strong>Details:</strong> Queue file count exceeded safe limit.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"soukaboustta1999@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert QUEUE FILES","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"soukaboustta1999@gmail.com","To":"soukabous@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"c66799c8-20e6-3f57-80ba-70b352f1d8d0","instanceIdentifier":"ded10a97-019a-1000-61ba-cb1fe9ee8f68","name":"PutEmail","comments":"","position":{"x":-208.0,"y":168.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – QUEUE BYTES HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Timestamp</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Queue Size</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> QUEUE_BYTES_HIGH<br>\n        <strong>Metric:</strong> Queue Size<br>\n        <strong>Current Value:</strong> ${queuedBytes:toNumber():divide(1024):divide(1024):format('0.00')} MB<br>\n        <strong>Threshold:</strong> 1073741824 <br>\n        <strong>Details:</strong> Queue size exceeded safe limits.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"soukaboustta1999@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert QUEUE BYTES","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"soukaboustta1999@gmail.com","To":"soukabous@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"6c25cdc1-77eb-3008-8c3c-b99053031b23","instanceIdentifier":"ded10a90-019a-1000-a621-47e812fb5cd8","name":"InvokeHTTP","comments":"","position":{"x":-200.0,"y":0.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/71265367-ba8f-4e57-a515-8dc36164b38c","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"c107dfd7-031b-395e-8e42-0d50090db632","instanceIdentifier":"ded10a8c-019a-1000-6699-f1c63b6ce23c","name":"UpdateAttribute","comments":"","position":{"x":952.0000140415277,"y":-65.49999188755817},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"queuedBytesNum":"${queuedBytes:toNumber()}","queuedFlowFilesNum":"${queuedFlowFiles:toNumber()}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"queuedBytesNum":{"name":"queuedBytesNum","displayName":"queuedBytesNum","identifiesControllerService":false,"sensitive":false},"queuedFlowFilesNum":{"name":"queuedFlowFilesNum","displayName":"queuedFlowFilesNum","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","instanceIdentifier":"ded10a8d-019a-1000-ac03-678830d6f24d","name":"RouteOnAttribute","comments":"","position":{"x":952.0,"y":184.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Routing Strategy":"Route to Property name","QUEUE_HIGH":"${queuedFlowFilesNum:gt(50)}","QUEUE_BYTES_HIGH":"${queuedBytesNum:gt(1073741824)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"QUEUE_HIGH":{"name":"QUEUE_HIGH","displayName":"QUEUE_HIGH","identifiesControllerService":false,"sensitive":false},"QUEUE_BYTES_HIGH":{"name":"QUEUE_BYTES_HIGH","displayName":"QUEUE_BYTES_HIGH","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ccfe5e6d-f2a6-360a-9cb4-59f1813a4a96","instanceIdentifier":"dee87b5d-019a-1000-62af-12c05afb966e","name":"","source":{"id":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ded10a8d-019a-1000-ac03-678830d6f24d"},"destination":{"id":"139c664e-fadf-3081-bc4e-0bd0c0359d70","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"ded10a93-019a-1000-9a93-e17113f6ca1b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["QUEUE_BYTES_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"adf5b434-d514-30f1-b6f1-32dfac137f83","instanceIdentifier":"ded10aa5-019a-1000-09f8-c7819e9fecce","name":"","source":{"id":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"ded10a8e-019a-1000-1590-3f7c5bcef497"},"destination":{"id":"bde14e03-6dc6-376f-8102-6eb637120818","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"PutEmail","comments":"","instanceIdentifier":"ded10a96-019a-1000-16c5-d10db7b4cc7e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"3e42862c-5993-3727-890c-0545e05a9a1d","instanceIdentifier":"ded10aa2-019a-1000-feed-c09665ff3f85","name":"","source":{"id":"139c664e-fadf-3081-bc4e-0bd0c0359d70","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"ded10a93-019a-1000-9a93-e17113f6ca1b"},"destination":{"id":"6c25cdc1-77eb-3008-8c3c-b99053031b23","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"ded10a90-019a-1000-a621-47e812fb5cd8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"dfc5e758-7461-3384-bc3a-f715ecf2a9d6","instanceIdentifier":"ded10a9c-019a-1000-4d52-e3339ec74092","name":"","source":{"id":"424584c5-b491-3c00-934c-d9c833d1b321","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ded10a8b-019a-1000-3ac8-ea6470f9d98f"},"destination":{"id":"c107dfd7-031b-395e-8e42-0d50090db632","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"ded10a8c-019a-1000-6699-f1c63b6ce23c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"d774eb6b-1e44-3c5e-91f1-14d8b3484d19","instanceIdentifier":"ded10a9d-019a-1000-668b-02aaa722639b","name":"","source":{"id":"c107dfd7-031b-395e-8e42-0d50090db632","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"ded10a8c-019a-1000-6699-f1c63b6ce23c"},"destination":{"id":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ded10a8d-019a-1000-ac03-678830d6f24d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"c4b20531-e2a3-38d5-8baa-d4dfb2569b50","instanceIdentifier":"dee8ce7a-019a-1000-62cc-13c64cd05ed1","name":"","source":{"id":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ded10a8d-019a-1000-ac03-678830d6f24d"},"destination":{"id":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"ded10a8e-019a-1000-1590-3f7c5bcef497"},"labelIndex":1,"zIndex":0,"selectedRelationships":["QUEUE_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"16089ec0-9e72-3589-949e-9211fd12c127","instanceIdentifier":"ded10aa6-019a-1000-eac1-820142c1ebcd","name":"","source":{"id":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"ded10a8e-019a-1000-1590-3f7c5bcef497"},"destination":{"id":"dec0bdc5-fc2b-3660-a585-29da218a64c1","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"ded10a8f-019a-1000-cfab-e23e11a91e56"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"cddf11f4-7220-36bd-a911-3e2ebadf5bdb","instanceIdentifier":"ded10a9a-019a-1000-dd8f-8591b1ab61a5","name":"","source":{"id":"f12d27e6-38a7-3d88-9c79-6ee97ade1e20","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"ded10a89-019a-1000-8992-4589bae405dc"},"destination":{"id":"f2d226ca-1761-3491-b153-90acf213b32f","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"ded10a8a-019a-1000-c94d-c4f8be260317"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"5c91e4e6-8142-3c2b-a252-666a5e0058cf","instanceIdentifier":"ded10a9b-019a-1000-7522-6a421dca52aa","name":"","source":{"id":"f2d226ca-1761-3491-b153-90acf213b32f","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"ded10a8a-019a-1000-c94d-c4f8be260317"},"destination":{"id":"424584c5-b491-3c00-934c-d9c833d1b321","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ded10a8b-019a-1000-3ac8-ea6470f9d98f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"585d8f4e-ba2d-3f56-a94e-496f1f86183a","instanceIdentifier":"ded10aa7-019a-1000-3318-0a82359f215e","name":"","source":{"id":"139c664e-fadf-3081-bc4e-0bd0c0359d70","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"ded10a93-019a-1000-9a93-e17113f6ca1b"},"destination":{"id":"c66799c8-20e6-3f57-80ba-70b352f1d8d0","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"PutEmail","comments":"","instanceIdentifier":"ded10a97-019a-1000-61ba-cb1fe9ee8f68"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"946dc262-02a7-387e-a204-bc5ebe5e49cd"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}