Alerting/AlertingEngine_Flow.json
{"flowContents":{"identifier":"d240924e-53d1-359b-8086-b9c7829fd2db","instanceIdentifier":"08347457-019b-1000-3e0e-0b2a630cd248","name":"AlertingEngine","comments":"","position":{"x":320.0,"y":40.0},"processGroups":[{"identifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","instanceIdentifier":"123b7669-f9d6-39d5-8e8d-71c1b4c44871","name":"FlowMonitor","comments":"","position":{"x":640.0,"y":-48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","instanceIdentifier":"020a5d8a-0211-34da-5d0c-bc8e4b519525","name":"ReplaceText","comments":"","position":{"x":536.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"QUEUE FILES\",\n  \"queued_files\": \"${queuedFlowFiles}\",\n  \"threshold_files\": \"${queuedFlowFiles_threshold}\",\n  \"alert_type\": \"QUEUE_FILES_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"Queue file count exceeded safe limit.\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"dec0bdc5-fc2b-3660-a585-29da218a64c1","instanceIdentifier":"1c3f60c9-467b-3023-0ce5-f6a35a5dc1fe","name":"InvokeHTTP","comments":"","position":{"x":-199.99998595847228,"y":-313.49999188755817},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/5c2f1309-8613-4c46-9382-343c2913588a","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"139c664e-fadf-3081-bc4e-0bd0c0359d70","instanceIdentifier":"7479b2dc-e40c-31ef-d041-afe2059e3c50","name":"ReplaceText","comments":"","position":{"x":432.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"QUEUE BYTES\",\n  \"queued_bytes\": \"${queuedBytes}\",\n  \"threshold_bytes\": \"${queuedBytes_threshold}\",\n  \"alert_type\": \"QUEUE_BYTES_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"Queue Bytes size exceeded safe limits.\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"f12d27e6-38a7-3d88-9c79-6ee97ade1e20","instanceIdentifier":"3ba6341f-e90f-3611-51ff-dc1936c661fa","name":"GenerateFlowFile","comments":"","position":{"x":-199.99998595847228,"y":-473.49999188755817},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"40 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"f2d226ca-1761-3491-b153-90acf213b32f","instanceIdentifier":"76fdabc8-9a5a-35fe-a469-8174bf2bfde2","name":"InvokeHTTP","comments":"","position":{"x":944.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://nifi:8080/nifi-api/flow/status","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"30 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"6c25cdc1-77eb-3008-8c3c-b99053031b23","instanceIdentifier":"a496c3dd-ade1-3e90-88bd-afc19a28a92e","name":"InvokeHTTP","comments":"","position":{"x":-200.0,"y":0.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/5c2f1309-8613-4c46-9382-343c2913588a","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"bde14e03-6dc6-376f-8102-6eb637120818","instanceIdentifier":"205b2237-7909-3917-4ca5-5ec70d63ca67","name":"PutEmail","comments":"","position":{"x":-199.99998595847228,"y":-161.49999188755817},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – QUEUE FILE HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Timestamp</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Queue File Count</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> QUEUE_FILE_HIGH<br>\n        <strong>Metric:</strong> Queue FlowFiles<br>\n        <strong>Current Value:</strong> ${queuedFlowFiles}<br>\n        <strong>Threshold:</strong> ${queuedFlowFiles_threshold} <br>\n        <strong>Details:</strong> Queue file count exceeded safe limit.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"alertingA@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert QUEUE FILES","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"alertingA@gmail.com","To":"alertingB@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"424584c5-b491-3c00-934c-d9c833d1b321","instanceIdentifier":"a463355d-fcec-38d6-0f00-85e29321bd7c","name":"EvaluateJsonPath","comments":"","position":{"x":944.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","queuedBytes":"$.controllerStatus.bytesQueued","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","queuedFlowFiles":"$.controllerStatus.flowFilesQueued"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"queuedBytes":{"name":"queuedBytes","displayName":"queuedBytes","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"queuedFlowFiles":{"name":"queuedFlowFiles","displayName":"queuedFlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"c66799c8-20e6-3f57-80ba-70b352f1d8d0","instanceIdentifier":"eb79f2aa-e44f-3443-ceb6-f024062e77d3","name":"PutEmail","comments":"","position":{"x":-208.0,"y":168.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – QUEUE BYTES HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Timestamp</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Queue Size</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> QUEUE_BYTES_HIGH<br>\n        <strong>Metric:</strong> Queue Size<br>\n        <strong>Current Value:</strong> ${queuedBytes:toNumber():divide(1024):divide(1024):format('0.00')} MB<br>\n        <strong>Threshold:</strong> ${queuedBytes_threshold} <br>\n        <strong>Details:</strong> Queue size exceeded safe limits.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"alertingA@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert QUEUE BYTES","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"alertingA@gmail.com","To":"alertingB@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"c107dfd7-031b-395e-8e42-0d50090db632","instanceIdentifier":"47fb9636-0538-374a-7a82-c796b3940a92","name":"UpdateAttribute","comments":"","position":{"x":952.0000140415277,"y":-65.49999188755817},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"queuedBytesNum":"${queuedBytes:toNumber()}","queuedFlowFilesNum":"${queuedFlowFiles:toNumber()}","queuedFlowFiles_threshold":"1","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"queuedBytes_threshold":"10000"},"propertyDescriptors":{"queuedBytesNum":{"name":"queuedBytesNum","displayName":"queuedBytesNum","identifiesControllerService":false,"sensitive":false},"queuedFlowFilesNum":{"name":"queuedFlowFilesNum","displayName":"queuedFlowFilesNum","identifiesControllerService":false,"sensitive":false},"queuedFlowFiles_threshold":{"name":"queuedFlowFiles_threshold","displayName":"queuedFlowFiles_threshold","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"queuedBytes_threshold":{"name":"queuedBytes_threshold","displayName":"queuedBytes_threshold","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","instanceIdentifier":"48fcb10e-35bb-36a7-32f7-3cbaa7aa30b2","name":"RouteOnAttribute","comments":"","position":{"x":952.0,"y":184.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Routing Strategy":"Route to Property name","QUEUE_HIGH":"${queuedFlowFilesNum:gt(${queuedFlowFiles_threshold})}","QUEUE_BYTES_HIGH":"${queuedBytesNum:gt(${queuedBytes_threshold})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"QUEUE_HIGH":{"name":"QUEUE_HIGH","displayName":"QUEUE_HIGH","identifiesControllerService":false,"sensitive":false},"QUEUE_BYTES_HIGH":{"name":"QUEUE_BYTES_HIGH","displayName":"QUEUE_BYTES_HIGH","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ccfe5e6d-f2a6-360a-9cb4-59f1813a4a96","instanceIdentifier":"97ab4c50-a95f-3859-5181-26f5c71e365a","name":"","source":{"id":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"48fcb10e-35bb-36a7-32f7-3cbaa7aa30b2"},"destination":{"id":"139c664e-fadf-3081-bc4e-0bd0c0359d70","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"7479b2dc-e40c-31ef-d041-afe2059e3c50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["QUEUE_BYTES_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"adf5b434-d514-30f1-b6f1-32dfac137f83","instanceIdentifier":"d3d1528d-a27c-33da-7821-e023d090fec3","name":"","source":{"id":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"020a5d8a-0211-34da-5d0c-bc8e4b519525"},"destination":{"id":"bde14e03-6dc6-376f-8102-6eb637120818","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"PutEmail","comments":"","instanceIdentifier":"205b2237-7909-3917-4ca5-5ec70d63ca67"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"dfc5e758-7461-3384-bc3a-f715ecf2a9d6","instanceIdentifier":"4da946fb-3488-3138-0f54-f5f379a9c317","name":"","source":{"id":"424584c5-b491-3c00-934c-d9c833d1b321","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a463355d-fcec-38d6-0f00-85e29321bd7c"},"destination":{"id":"c107dfd7-031b-395e-8e42-0d50090db632","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"47fb9636-0538-374a-7a82-c796b3940a92"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"3e42862c-5993-3727-890c-0545e05a9a1d","instanceIdentifier":"8df994e9-a2fa-3a3b-105b-e4ee1b4986c5","name":"","source":{"id":"139c664e-fadf-3081-bc4e-0bd0c0359d70","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"7479b2dc-e40c-31ef-d041-afe2059e3c50"},"destination":{"id":"6c25cdc1-77eb-3008-8c3c-b99053031b23","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"a496c3dd-ade1-3e90-88bd-afc19a28a92e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"d774eb6b-1e44-3c5e-91f1-14d8b3484d19","instanceIdentifier":"e84480b6-9e85-380d-8a51-215dd4ef600e","name":"","source":{"id":"c107dfd7-031b-395e-8e42-0d50090db632","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"UpdateAttribute","comments":"","instanceIdentifier":"47fb9636-0538-374a-7a82-c796b3940a92"},"destination":{"id":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"48fcb10e-35bb-36a7-32f7-3cbaa7aa30b2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"c4b20531-e2a3-38d5-8baa-d4dfb2569b50","instanceIdentifier":"c729e4fc-57a9-359a-a5f0-78bee30f61c6","name":"","source":{"id":"6864aa2d-7cec-3acb-9995-cdb90ebfce1c","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"48fcb10e-35bb-36a7-32f7-3cbaa7aa30b2"},"destination":{"id":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"020a5d8a-0211-34da-5d0c-bc8e4b519525"},"labelIndex":1,"zIndex":0,"selectedRelationships":["QUEUE_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"16089ec0-9e72-3589-949e-9211fd12c127","instanceIdentifier":"d7e91870-f2d8-3db0-8048-263d0a2ebc9f","name":"","source":{"id":"f1aaec13-441b-3f68-8a46-2f3744a5d6fb","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"020a5d8a-0211-34da-5d0c-bc8e4b519525"},"destination":{"id":"dec0bdc5-fc2b-3660-a585-29da218a64c1","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"1c3f60c9-467b-3023-0ce5-f6a35a5dc1fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"cddf11f4-7220-36bd-a911-3e2ebadf5bdb","instanceIdentifier":"4c8c7d55-a858-35b6-3d4e-99e3ebd2031d","name":"","source":{"id":"f12d27e6-38a7-3d88-9c79-6ee97ade1e20","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"3ba6341f-e90f-3611-51ff-dc1936c661fa"},"destination":{"id":"f2d226ca-1761-3491-b153-90acf213b32f","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"76fdabc8-9a5a-35fe-a469-8174bf2bfde2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"5c91e4e6-8142-3c2b-a252-666a5e0058cf","instanceIdentifier":"b70c5836-01cd-36bf-ff98-90b10684e915","name":"","source":{"id":"f2d226ca-1761-3491-b153-90acf213b32f","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"InvokeHTTP","comments":"","instanceIdentifier":"76fdabc8-9a5a-35fe-a469-8174bf2bfde2"},"destination":{"id":"424584c5-b491-3c00-934c-d9c833d1b321","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a463355d-fcec-38d6-0f00-85e29321bd7c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"},{"identifier":"585d8f4e-ba2d-3f56-a94e-496f1f86183a","instanceIdentifier":"5a5fdaa1-649a-3ab7-1551-bf9bf748f7ac","name":"","source":{"id":"139c664e-fadf-3081-bc4e-0bd0c0359d70","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"ReplaceText","comments":"","instanceIdentifier":"7479b2dc-e40c-31ef-d041-afe2059e3c50"},"destination":{"id":"c66799c8-20e6-3f57-80ba-70b352f1d8d0","type":"PROCESSOR","groupId":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c","name":"PutEmail","comments":"","instanceIdentifier":"eb79f2aa-e44f-3443-ceb6-f024062e77d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a983119d-ea2e-33ad-970f-9fd1e80f8b0c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"d240924e-53d1-359b-8086-b9c7829fd2db"},{"identifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a","instanceIdentifier":"a3c25e4d-3d3c-36b9-a9e6-d9563cb553de","name":"SystemMonitor","comments":"","position":{"x":208.0,"y":-48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ede87c41-f416-3942-8ab0-e603c6f515eb","instanceIdentifier":"f46ad603-d103-3cf2-11a3-078ae607c05c","name":"InvokeHTTP","comments":"","position":{"x":0.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/5c2f1309-8613-4c46-9382-343c2913588a","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"98c18d74-912a-3db8-99af-abcf2a99fd2d","instanceIdentifier":"b6c92d31-d136-30b0-0f7b-83a61879a5de","name":"PutEmail","comments":"","position":{"x":-16.0,"y":408.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – RAM HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">RAM Metrics</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> RAM_HIGH<br>\n        <strong>Metric:</strong> RAM Usage<br>\n        <strong>Current Value:</strong> ${heapUtilizationNum}%<br>\n        <strong>Threshold:</strong> ${ram_threshold}%<br>\n        <strong>Details:</strong> RAM usage exceeded recommended limits.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"alertingA@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert RAM","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"alertingA@gmail.com","To":"alertingB@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","instanceIdentifier":"a4eab262-5b80-33b7-816a-706cdf6742c5","name":"RouteOnAttribute","comments":"","position":{"x":1168.0,"y":288.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CPU_HIGH":"${cpuLoadPct:gt(${cpu_threshold})}","Routing Strategy":"Route to Property name","DISK_LOW_FLOWFILE":"${diskFlowFileRepoFreeNum:lt(${diskFlowFileRepoFree_threshold})}","RAM_HIGH":"${heapUtilizationNum:gt(${ram_threshold})}","DISK_LOW_CONTENT":"${diskContentRepoFreeNum:lt(${diskContentRepoFree_threshold})}","THREAD_HIGH":"${threadsNum:gt(${threads_threshold})}"},"propertyDescriptors":{"CPU_HIGH":{"name":"CPU_HIGH","displayName":"CPU_HIGH","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"DISK_LOW_FLOWFILE":{"name":"DISK_LOW_FLOWFILE","displayName":"DISK_LOW_FLOWFILE","identifiesControllerService":false,"sensitive":false},"RAM_HIGH":{"name":"RAM_HIGH","displayName":"RAM_HIGH","identifiesControllerService":false,"sensitive":false},"DISK_LOW_CONTENT":{"name":"DISK_LOW_CONTENT","displayName":"DISK_LOW_CONTENT","identifiesControllerService":false,"sensitive":false},"THREAD_HIGH":{"name":"THREAD_HIGH","displayName":"THREAD_HIGH","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"ebac7bfb-9c01-3e1d-b6e2-867d27cce5ce","instanceIdentifier":"0477152e-9648-3ecf-63bb-fcaadcca81a9","name":"InvokeHTTP","comments":"","position":{"x":-24.0,"y":560.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/5c2f1309-8613-4c46-9382-343c2913588a","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"65b01383-1e27-3ffa-9bac-b40c54c51d6b","instanceIdentifier":"3fa06c63-9364-3f87-b8c6-14a7549dc7df","name":"InvokeHTTP","comments":"","position":{"x":0.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/5c2f1309-8613-4c46-9382-343c2913588a","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"7e2c8559-e557-345e-ba2f-666e29eabde8","instanceIdentifier":"65b0a657-09f7-3f96-bd6e-8b6eb2f644d6","name":"EvaluateJsonPath","comments":"","position":{"x":1160.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Destination":"flowfile-attribute","availableProcessors":"$.systemDiagnostics.aggregateSnapshot.availableProcessors","heapUtilization":"$.systemDiagnostics.aggregateSnapshot.heapUtilization","Return Type":"auto-detect","threads":"$.systemDiagnostics.aggregateSnapshot.totalThreads","cpu":"$.systemDiagnostics.aggregateSnapshot.processorLoadAverage","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","ramUsed":"$.systemDiagnostics.aggregateSnapshot.usedHeapBytes","diskContentRepoFree":"$.systemDiagnostics.aggregateSnapshot.contentRepositoryStorageUsage[0].freeSpaceBytes","diskFlowFileRepoFree":"$.systemDiagnostics.aggregateSnapshot.flowFileRepositoryStorageUsage.freeSpaceBytes","ramMax":"$.systemDiagnostics.aggregateSnapshot.maxHeapBytes","timestamp":"$.systemDiagnostics.aggregateSnapshot.statsLastRefreshed"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"availableProcessors":{"name":"availableProcessors","displayName":"availableProcessors","identifiesControllerService":false,"sensitive":false},"heapUtilization":{"name":"heapUtilization","displayName":"heapUtilization","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"threads":{"name":"threads","displayName":"threads","identifiesControllerService":false,"sensitive":false},"cpu":{"name":"cpu","displayName":"cpu","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"ramUsed":{"name":"ramUsed","displayName":"ramUsed","identifiesControllerService":false,"sensitive":false},"diskContentRepoFree":{"name":"diskContentRepoFree","displayName":"diskContentRepoFree","identifiesControllerService":false,"sensitive":false},"diskFlowFileRepoFree":{"name":"diskFlowFileRepoFree","displayName":"diskFlowFileRepoFree","identifiesControllerService":false,"sensitive":false},"ramMax":{"name":"ramMax","displayName":"ramMax","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e618f93f-ef9c-34a6-99a3-cf9892486f11","instanceIdentifier":"f4f9230e-a1d4-387b-2f22-353b9719af92","name":"ReplaceText","comments":"","position":{"x":608.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"DISK FlowFile\",\n  \"value\": \"${diskFlowFileRepoFreeNum}\",\n  \"threshold\": \"${diskFlowFileRepoFree_threshold}\",\n  \"alert_type\": \"DISK_LOW_FLOW_FILE\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"Low disk space may break NiFi flows.\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"a3ef7e6e-4477-3cf5-b8c9-437b7663ad63","instanceIdentifier":"8cec0180-f6f3-3e97-46ba-7f0ca09aafba","name":"PutEmail","comments":"","position":{"x":0.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – CPU HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">CPU Metrics</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> CPU_HIGH<br>\n        <strong>Metric:</strong> CPU Usage<br>\n        <strong>Current Value:</strong> ${cpuLoadPct}%<br>\n        <strong>Threshold:</strong> ${cpu_threshold}%<br>\n        <strong>Details:</strong> CPU usage exceeded safe limits.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"alertingA@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert CPU","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"alertingA@gmail.com","To":"alertingB@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0fc8626d-1b95-3274-9a48-056e8b7978ee","instanceIdentifier":"4be43584-ea43-3a12-84ac-e8e5ef4712de","name":"UpdateAttribute","comments":"","position":{"x":1168.0,"y":-112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.22.0"},"properties":{"diskContentRepoFree_threshold":"21474836480","ram_threshold":"75","ramUsedNum":"${ramUsed:toNumber()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","ramMaxNum":"${ramMax:toNumber()}","diskFlowFileRepoFreeNum":"${diskFlowFileRepoFree:toNumber()}","diskContentRepoFreeNum":"${diskContentRepoFree:toNumber()}","diskFlowFileRepoFree_threshold":"21474836480","Stateful Variables Initial Value":null,"threads_threshold":"200","threadsNum":"${threads:toNumber()}","Delete Attributes Expression":null,"ramZPct":"${ramUsed:multiply(100.00):divide(${ramMax}):toNumber()}","heapUtilizationNum":"${heapUtilization:replace('%',''):toNumber()}","cpu_threshold":"80","cpuLoadPct":"${cpu:multiply(100.00):divide(${availableProcessors}):toNumber()}"},"propertyDescriptors":{"diskContentRepoFree_threshold":{"name":"diskContentRepoFree_threshold","displayName":"diskContentRepoFree_threshold","identifiesControllerService":false,"sensitive":false},"ram_threshold":{"name":"ram_threshold","displayName":"ram_threshold","identifiesControllerService":false,"sensitive":false},"ramUsedNum":{"name":"ramUsedNum","displayName":"ramUsedNum","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"ramMaxNum":{"name":"ramMaxNum","displayName":"ramMaxNum","identifiesControllerService":false,"sensitive":false},"diskFlowFileRepoFreeNum":{"name":"diskFlowFileRepoFreeNum","displayName":"diskFlowFileRepoFreeNum","identifiesControllerService":false,"sensitive":false},"diskContentRepoFreeNum":{"name":"diskContentRepoFreeNum","displayName":"diskContentRepoFreeNum","identifiesControllerService":false,"sensitive":false},"diskFlowFileRepoFree_threshold":{"name":"diskFlowFileRepoFree_threshold","displayName":"diskFlowFileRepoFree_threshold","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"threads_threshold":{"name":"threads_threshold","displayName":"threads_threshold","identifiesControllerService":false,"sensitive":false},"threadsNum":{"name":"threadsNum","displayName":"threadsNum","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"ramZPct":{"name":"ramZPct","displayName":"ramZPct","identifiesControllerService":false,"sensitive":false},"heapUtilizationNum":{"name":"heapUtilizationNum","displayName":"heapUtilizationNum","identifiesControllerService":false,"sensitive":false},"cpu_threshold":{"name":"cpu_threshold","displayName":"cpu_threshold","identifiesControllerService":false,"sensitive":false},"cpuLoadPct":{"name":"cpuLoadPct","displayName":"cpuLoadPct","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"49a3a21d-9193-32de-a5da-2efa03ecb24c","instanceIdentifier":"de7df3d5-c354-358c-5323-c74851498d84","name":"InvokeHTTP","comments":"","position":{"x":-24.0,"y":840.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/5c2f1309-8613-4c46-9382-343c2913588a","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"bc98954e-0b24-30c7-a674-37f99af3fbc5","instanceIdentifier":"33c93501-e5ac-3d37-9173-e125adefa4bd","name":"ReplaceText","comments":"","position":{"x":608.0,"y":640.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"DISK Content \",\n  \"value\": \"${diskContentRepoFreeNum}\",\n  \"threshold\": \"${diskContentRepoFree_threshold}\",\n  \"alert_type\": \"DISK_LOW_CONTENT\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"Low content repo space may stop NiFi writes.\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"b91a090b-f0fe-3eac-b387-1761736f3d69","instanceIdentifier":"488af328-22b1-31d1-5aca-3abd2a508766","name":"GenerateFlowFile","comments":"","position":{"x":0.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"40 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"70abfac3-768b-3292-95c0-3999b5ff45cf","instanceIdentifier":"6fef6fe3-2df3-3100-d29e-b1f70cbb4277","name":"PutEmail","comments":"","position":{"x":-24.0,"y":704.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – THREADS HIGH\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Thread Metrics</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> THREADS_HIGH<br>\n        <strong>Metric:</strong> Active Threads<br>\n        <strong>Current Value:</strong> ${threadsNum}<br>\n        <strong>Threshold:</strong> ${threads_threshold}<br>\n        <strong>Details:</strong> High number of active threads detected.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"alertingA@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert THREADS","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"alertingA@gmail.com","To":"alertingB@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"45fe2c69-8681-3bbf-8208-ca5071024e78","instanceIdentifier":"5d66677e-692a-32db-6539-8378be71a6f8","name":"InvokeHTTP","comments":"","position":{"x":1160.0,"y":-536.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://nifi:8080/nifi-api/system-diagnostics","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"30 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"44663dcd-809c-3166-a53e-c415ded1f1cf","instanceIdentifier":"ee3dfa0f-0ffb-3962-a219-4c6026c831c3","name":"ReplaceText","comments":"","position":{"x":568.0,"y":416.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"THREADS\",\n  \"value\": \"${threadsNum}\",\n  \"threshold\": \"${threads_threshold}\",\n  \"alert_type\": \"THREAD_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"High number of active threads detected.\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"6cad82fb-5647-357d-afa3-203117363bf3","instanceIdentifier":"9a3e2338-1ca9-3ac1-c8c8-9fb38d9b4908","name":"PutEmail","comments":"","position":{"x":-24.0,"y":976.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – LOW DISK (Content Repo)\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Content Repository</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> DISK_LOW_CONTENT<br>\n        <strong>Metric:</strong> Free Disk (Content Repo)<br>\n        <strong>Current Value:</strong> ${diskContentRepoFreeNum:toNumber():divide(1024):divide(1024):divide(1024):format('0.00')} GB<br>\n        <strong>Threshold:</strong> ${diskContentRepoFree_threshold}<br>\n        <strong>Details:</strong> Low content repo space may stop NiFi writes.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"alertingA@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert DISK","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"alertingA@gmail.com","To":"alertingB@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","instanceIdentifier":"97de503f-8750-3d0f-7705-22da9fce2b78","name":"ReplaceText","comments":"","position":{"x":584.0,"y":120.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"RAM\",\n  \"value\": \"${heapUtilizationNum}%\",\n  \"threshold\": \"${ram_threshold}%\",\n  \"alert_type\": \"RAM_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"RAM usage exceeded recommended limits.\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"734fcb0c-5570-306a-bada-5255f79684c8","instanceIdentifier":"382518a0-0750-3544-c8e2-de4c1294a309","name":"ReplaceText","comments":"","position":{"x":720.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"metric\": \"CPU\",\n  \"value\": \"${cpuLoadPct}%\",\n  \"threshold\": \"${cpu_threshold}%\",\n  \"alert_type\": \"CPU_HIGH\",\n  \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\",\n  \"message\": \"CPU usage exceeded safe limits.\"\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"08635015-6b95-3a62-ba56-e9130e17aace","instanceIdentifier":"08bfcac8-b5da-3f23-f9ba-fc60f296cf0a","name":"InvokeHTTP","comments":"","position":{"x":-16.0,"y":264.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://webhook.site/5c2f1309-8613-4c46-9382-343c2913588a","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e27c83db-9a3a-32b5-acff-92c8e537b675","instanceIdentifier":"db593b60-b64c-3090-2923-39b809f37de9","name":"PutEmail","comments":"","position":{"x":-8.0,"y":96.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.22.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f9;\n      padding: 20px;\n      color: #333;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 12px;\n      padding: 20px 25px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 4px 15px rgba(0,0,0,0.12);\n    }\n    .header {\n      background: #d9534f;\n      color: white;\n      padding: 15px;\n      border-radius: 8px;\n      font-size: 22px;\n      font-weight: bold;\n      text-align: center;\n    }\n    .section { margin-top: 20px; }\n    .title {\n      font-size: 16px;\n      font-weight: bold;\n      color: #444;\n      margin-bottom: 8px;\n    }\n    .text {\n      background: #f1f3f6;\n      padding: 12px 18px;\n      border-left: 5px solid #d9534f;\n      border-radius: 6px;\n      font-size: 14px;\n      line-height: 1.5;\n    }\n    .footer {\n      margin-top: 25px;\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"card\">\n\n    <div class=\"header\">\n      ⚠ NiFi ALERT DETECTED – LOW DISK (FlowFile Repo)\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Time</div>\n      <div class=\"text\">${now():format(\"yyyy-MM-dd HH:mm:ss\")}</div>\n    </div>\n\n    <div class=\"section\">\n      <div class=\"title\">Disk FlowFile Repository</div>\n      <div class=\"text\">\n        <strong>Alert Type:</strong> DISK_LOW_FLOW_FILE<br>\n        <strong>Metric:</strong> Free Disk (FlowFile Repo)<br>\n        <strong>Current Value:</strong> ${diskFlowFileRepoFreeNum:toNumber():divide(1024):divide(1024):divide(1024):format('0.00')} GB<br>\n        <strong>Threshold:</strong> ${diskFlowFileRepoFree_threshold}<br>\n        <strong>Details:</strong> Low disk space may break NiFi flows.\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      NiFi Monitoring System – Automated Alert Notification\n    </div>\n\n  </div>\n</body>\n</html>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"alertingA@gmail.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"NiFi Alert DISK","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html","SMTP Username":"alertingA@gmail.com","To":"alertingB@gmail.com","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"aff7bbe8-9b0f-312b-9eb8-dc6f3f779747","instanceIdentifier":"e8bb2543-3a87-356a-a932-42b7b8b0489f","name":"","source":{"id":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"97de503f-8750-3d0f-7705-22da9fce2b78"},"destination":{"id":"08635015-6b95-3a62-ba56-e9130e17aace","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"08bfcac8-b5da-3f23-f9ba-fc60f296cf0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0c2af0db-06a1-3a16-9015-9cf790d1eac7","instanceIdentifier":"e16fa78f-ac38-3a7f-ff85-f3d50865dee3","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4eab262-5b80-33b7-816a-706cdf6742c5"},"destination":{"id":"e618f93f-ef9c-34a6-99a3-cf9892486f11","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"f4f9230e-a1d4-387b-2f22-353b9719af92"},"labelIndex":1,"zIndex":0,"selectedRelationships":["DISK_LOW_FLOWFILE"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"998c1e63-7b0d-31d5-911a-97f546cde28e","instanceIdentifier":"f86661d7-44ea-3ce0-6d78-b62dadbd72c6","name":"","source":{"id":"0fc8626d-1b95-3274-9a48-056e8b7978ee","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"UpdateAttribute","comments":"","instanceIdentifier":"4be43584-ea43-3a12-84ac-e8e5ef4712de"},"destination":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4eab262-5b80-33b7-816a-706cdf6742c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"4efa62ed-d0e7-3b1c-ac33-063c1ce3abc3","instanceIdentifier":"15ced53f-6e0b-305c-bb34-3489c2f5a936","name":"","source":{"id":"44663dcd-809c-3166-a53e-c415ded1f1cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"ee3dfa0f-0ffb-3962-a219-4c6026c831c3"},"destination":{"id":"70abfac3-768b-3292-95c0-3999b5ff45cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"6fef6fe3-2df3-3100-d29e-b1f70cbb4277"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0d12a3f7-42c8-3bcc-9598-1efc0905377d","instanceIdentifier":"374cb841-e7a0-3b33-1f8f-8fa81ccc7453","name":"","source":{"id":"7e2c8559-e557-345e-ba2f-666e29eabde8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"65b0a657-09f7-3f96-bd6e-8b6eb2f644d6"},"destination":{"id":"0fc8626d-1b95-3274-9a48-056e8b7978ee","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"UpdateAttribute","comments":"","instanceIdentifier":"4be43584-ea43-3a12-84ac-e8e5ef4712de"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"aba1a77b-75a0-30ad-b6c7-aff0e9c0a081","instanceIdentifier":"f5fecb62-d564-3a8c-e0a8-d2b7f6823f95","name":"","source":{"id":"bc98954e-0b24-30c7-a674-37f99af3fbc5","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"33c93501-e5ac-3d37-9173-e125adefa4bd"},"destination":{"id":"6cad82fb-5647-357d-afa3-203117363bf3","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"9a3e2338-1ca9-3ac1-c8c8-9fb38d9b4908"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"162bc62d-6d60-34c7-a5f1-c210dbefa225","instanceIdentifier":"3b202e9d-c773-36ad-5ff3-71088204ec69","name":"","source":{"id":"e618f93f-ef9c-34a6-99a3-cf9892486f11","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"f4f9230e-a1d4-387b-2f22-353b9719af92"},"destination":{"id":"e27c83db-9a3a-32b5-acff-92c8e537b675","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"db593b60-b64c-3090-2923-39b809f37de9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"f3231db0-24cd-312d-b23c-e93b2e149a70","instanceIdentifier":"98e58442-3e4c-36a1-d170-2bb727613cd5","name":"","source":{"id":"bc98954e-0b24-30c7-a674-37f99af3fbc5","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"33c93501-e5ac-3d37-9173-e125adefa4bd"},"destination":{"id":"49a3a21d-9193-32de-a5da-2efa03ecb24c","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"de7df3d5-c354-358c-5323-c74851498d84"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"4ee1481a-9081-36a4-8049-6be3d2315d0f","instanceIdentifier":"6ab399a4-f8bd-37f4-130a-a0872cd6f05a","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4eab262-5b80-33b7-816a-706cdf6742c5"},"destination":{"id":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"97de503f-8750-3d0f-7705-22da9fce2b78"},"labelIndex":1,"zIndex":0,"selectedRelationships":["RAM_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"9c0df733-41d6-32d0-a8dc-420a2ec0c14a","instanceIdentifier":"7141e61f-735a-3a05-08c4-b88f416c2adf","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4eab262-5b80-33b7-816a-706cdf6742c5"},"destination":{"id":"734fcb0c-5570-306a-bada-5255f79684c8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"382518a0-0750-3544-c8e2-de4c1294a309"},"labelIndex":1,"zIndex":0,"selectedRelationships":["CPU_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"170a6d99-ae7f-3ac0-90cf-e9435c2f0ce3","instanceIdentifier":"ba5f4ab4-4b12-3104-9f8e-7ad08851af7e","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4eab262-5b80-33b7-816a-706cdf6742c5"},"destination":{"id":"44663dcd-809c-3166-a53e-c415ded1f1cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"ee3dfa0f-0ffb-3962-a219-4c6026c831c3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["THREAD_HIGH"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"0fda4ac6-c218-3c28-9574-03f405843ef7","instanceIdentifier":"d380516c-747b-330f-97d0-87ed60ed6a8c","name":"","source":{"id":"e618f93f-ef9c-34a6-99a3-cf9892486f11","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"f4f9230e-a1d4-387b-2f22-353b9719af92"},"destination":{"id":"65b01383-1e27-3ffa-9bac-b40c54c51d6b","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"3fa06c63-9364-3f87-b8c6-14a7549dc7df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"390747c0-40a3-3c46-aedc-b5ce684b89b0","instanceIdentifier":"2e1f3e87-dfcf-3d96-3879-efef87beeb3a","name":"","source":{"id":"45fe2c69-8681-3bbf-8208-ca5071024e78","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"5d66677e-692a-32db-6539-8378be71a6f8"},"destination":{"id":"7e2c8559-e557-345e-ba2f-666e29eabde8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"65b0a657-09f7-3f96-bd6e-8b6eb2f644d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e15029b2-d0f0-31f3-8e6e-cb141b522a2e","instanceIdentifier":"b4beeddb-a7f2-3db3-d7fb-c6618127c078","name":"","source":{"id":"734fcb0c-5570-306a-bada-5255f79684c8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"382518a0-0750-3544-c8e2-de4c1294a309"},"destination":{"id":"ede87c41-f416-3942-8ab0-e603c6f515eb","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"f46ad603-d103-3cf2-11a3-078ae607c05c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"602ecf7a-99de-3ebf-852d-c6de87071a6b","instanceIdentifier":"d409a7f8-bd06-3a07-4748-d27c7a0b5104","name":"","source":{"id":"52a1601b-1c15-3b95-a423-cdc4f8ecc438","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"97de503f-8750-3d0f-7705-22da9fce2b78"},"destination":{"id":"98c18d74-912a-3db8-99af-abcf2a99fd2d","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"b6c92d31-d136-30b0-0f7b-83a61879a5de"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"9901f95b-96ef-3fd4-91a7-06b152d1b7a6","instanceIdentifier":"47c5560e-b8c5-3aa4-8dc0-afae3e5c4b8a","name":"","source":{"id":"44663dcd-809c-3166-a53e-c415ded1f1cf","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"ee3dfa0f-0ffb-3962-a219-4c6026c831c3"},"destination":{"id":"ebac7bfb-9c01-3e1d-b6e2-867d27cce5ce","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"0477152e-9648-3ecf-63bb-fcaadcca81a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"769c0fc0-2765-371c-b841-5e93d1e05763","instanceIdentifier":"007c6fdd-bd59-3002-b040-767f6ff1a97d","name":"","source":{"id":"734fcb0c-5570-306a-bada-5255f79684c8","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"382518a0-0750-3544-c8e2-de4c1294a309"},"destination":{"id":"a3ef7e6e-4477-3cf5-b8c9-437b7663ad63","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"PutEmail","comments":"","instanceIdentifier":"8cec0180-f6f3-3e97-46ba-7f0ca09aafba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"5512a08e-b802-385a-8179-12ed938b12b9","instanceIdentifier":"48eaba84-b643-3646-17e6-f0b0f03432f3","name":"","source":{"id":"b91a090b-f0fe-3eac-b387-1761736f3d69","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"GenerateFlowFile","comments":"","instanceIdentifier":"488af328-22b1-31d1-5aca-3abd2a508766"},"destination":{"id":"45fe2c69-8681-3bbf-8208-ca5071024e78","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"InvokeHTTP","comments":"","instanceIdentifier":"5d66677e-692a-32db-6539-8378be71a6f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"},{"identifier":"e9188448-7a5c-3cd2-aeed-6525f14acf88","instanceIdentifier":"7ca78ebd-7d7d-3430-1421-c16aea119030","name":"","source":{"id":"a9f1ce7f-8959-3edc-895e-f820842b5d2a","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a4eab262-5b80-33b7-816a-706cdf6742c5"},"destination":{"id":"bc98954e-0b24-30c7-a674-37f99af3fbc5","type":"PROCESSOR","groupId":"296027a7-5726-3c5b-a6f9-c4df44b2275a","name":"ReplaceText","comments":"","instanceIdentifier":"33c93501-e5ac-3d37-9173-e125adefa4bd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["DISK_LOW_CONTENT"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"296027a7-5726-3c5b-a6f9-c4df44b2275a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"d240924e-53d1-359b-8086-b9c7829fd2db"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}